

.features-list {
    @extend .list;
    display: flex; 
  }
  
  .features-item {
    width: calc((100% - 90px)/4);
    margin-right: 30px;  
    
    &:last-child {
        margin-right: 0;
      }
  }
  
 
  
  .features-icon {
    max-width: 100%;
    height: 120px;
    padding: 25px 100px;
    margin: 0;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA; 
    background-size: cover;
  }
  
  .features-item-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color; 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .features-dicription {
    margin: 0;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
  }
  