.main-nav {
    display: flex;
    align-items: center;
}

.page-nav-list {  
    @extend .list; 
    display: flex;
    margin-left: 85px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}  
.page-nav-item:not(:last-child) {   
    margin-right: 50px;
    
}

.page-nav-link {
    @extend .link;     
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .page-nav-item-active & {
        color: $accent-color;
           
    }

    &:hover,
    &:focus{
      color: $accent-color;  
    }
    
}

.page-nav-item-active::after  {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    background: $accent-color;
    border-radius: 2px;
    
    
}
  
