
.filters-list {
    @extend .list;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 34px;
    padding-bottom: 16px;  
}

.filters-item:not(:last-child) {
    margin-right: 8px;
}

.filters-button {
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $primary-white-color;
    }
}


